.App {
  min-height: 100vh;
}

.container {
  padding: 24px 12px;
}

.logo {
  float: left;
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}

.ant-drawer-content-wrapper {
  width: 100% !important;
  max-width: 1000px;
}

.ant-list-sm .ant-list-item {
  padding: 0 16px;
}