.App {
  min-height: 100vh;
}

header, .ant-layout, footer, .ant-layout-footer {
  background: #fff;
}

header, .ant-layout-header {
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 10;
  padding: 0 30px;
}

.container {
  padding: 24px 12px;
}

.logo {
  float: left;
  font-weight: bold;
  font-size: 1.2em;
}

.ant-drawer-content-wrapper {
  width: 100% !important;
  max-width: 1000px;
}

.ant-list-sm .ant-list-item {
  padding: 0 16px;
}